body{
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    font-weight: 400;
}
.ajs-message.ajs-success.ajs-visible,
.ajs-message.ajs-error.ajs-visible{
    color: #fff!important;
}